@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #1e272e;
}

body {
    margin: 0 auto;
    padding: 2em;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

.social-container {
    max-width: 1200px;
    margin: 0 auto;
}
/* Begin NavBar Styles *******************************************/


.navbar {
    font-size: 1.25em;
}
.name {
    float: left;
    vertical-align: middle;
    font-weight: bold;
    
    margin-bottom: 2em;
}

.navbar a {
    text-decoration: none;
    color: #1e272e;
}

.name li {
    list-style-type: none;
    padding: 15px 25px;    
    transition: 0.3s linear;
    border: 2px solid #1e272e;
}

.nav {
    float: right;
}

.nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
    padding: 15px 15px;
    position: relative;
}

/* Hover effects for Navigation */

.name li:hover {
    background-color: #ff3f34;
    color: white;
    border-color: #ff3f34;
}

.nav li:after {
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #ff3f34;
    transition: width .5s ease;
    -webkit-transition: width .5s ease;
}

.nav li:hover:after {
    width: 100%;
    left: 0;
    background: #ff3f34;
}

/* Begin JumboTron *******************************************/

.jumbotron {
    clear: both;
    position: relative;
    height: 600px;
}

.jumbotron img {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 25em;
    border-radius: 50%;
}

.intro {
    position: absolute;
    bottom: 3em;
    right: -1em;
    background-color: white;
    border-radius: 10px;
    padding: 1em;
}

.intro h1 {
    font-size: 4em;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: #ff3f34;
}

.intro h3 {
    text-transform: uppercase;
    margin-top: .5em;
    text-align: left;
}

/* Begin About Section *******************************************/

.about {
    background-color: #ededed;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 2em;
}

.left-div
{
    float: left;
    width: 25em;
    margin: 2em;
}

.left-div h1 {
    text-align: right;
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
}

#name
{
    text-transform: uppercase;
    text-align: right;
    font-size: 1em;
    color: #666;
}

.right-div {
    float: right;
    border: 3px solid #000;
    width: 40em;
    background-color: white;
}

.right-div p {
    text-align: left;
    font-size: 1.5em;
    margin: 2em;
}

/* Begin Experience Section *******************************************/

.experience
{
    margin: 0 auto;
	padding: 2em;
    display: table;
}
.exp-title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .5em;
    color: #000;
    border-bottom: 1px solid #CCC;
}

.experience-grid
{
    list-style-type: none;
    margin: 2em auto;    
}

.job
{
    display: inline-block;
    width: 30em;
    float: left;
    position: relative;
}

#regions-logo
{
    width: 20em;
    margin: .25em;
}

#finlogo
{
    width: 20em;
    margin: .25em;
}

.position
{
    text-align: center;
    font-size: 1em;
    padding: .5em 1em;
}

.description
{
    list-style-type: none;
}

.description p
{
    text-align: left;
    margin: 1em;
}

/* Begin Social Media Section *******************************************/


.social {
	padding: 3em;
	}
.social-list {
	list-style-type: none;
}

.social-list li {
	display: inline-block;
	margin: 1em;
}

/* Begin Contact Me Section *******************************************/

.lets-talk h1 {
	float: left;
	font-size: 4.5em;
	font-family:  'Montserrat', sans-serif;
	padding-bottom: 1em;
}

.lets-talk h3 {
	float: right;
	color: #ccc;
	text-align: right;
}

form {
	clear: both;
	display: block;
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 4em;
	padding-bottom: 4em;
	
}
	
::placeholder {
	font-size: 1.25em;
	font-style: italic;
	color: #ccc;
	text-indent: 1em;
}

.name-input, .email-input{
	width: 100%;
	background-color: #ededed;
	border: none;
	margin-top: 1em;
	height: 50px;
	text-align: left;
	text-indent: 1em;
	font-size: 1.25em;
	color: #666;
}

.message-input {
	width: 100%;
	background-color: #ededed;
	border: none;
	text-indent: 1em;
	padding-top: .5em;
	margin-top: 1em;
	height: 200px;
	text-align: left;
	font-size: 1.25em;
	color: #666;
}


#submit {
	float: right;
	padding: 20px 50px;
	
	margin-top: 1em;
	border: none;
	background-color: #ff3f34;
	border-radius: 10px;
	color: #fff;
	font-size: 1.2em;
	cursor: pointer;
}

#submit:hover {
	background-color: black;
	}

/* Begin Footer Section *******************************************/

.footer {
	border-top: 3px solid black;
	padding: 3em 0;
	margin: 0 auto;
	clear: both;
}
	
.footer h3 {
	text-transform: uppercase;
}

